@charset "utf-8";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color : black;
  border-collapse: collapse;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 38, 255);
  }

  img {
    width: 25px;
	  height: 25px;
  }

  button {
    width: 25px;
	  height: 25px;
  }

  .active {
    background-color:rgb(0, 38, 255);
  }
  
  .marg {
    margin-top: 30px;
    margin: 5px;
    padding: 20px;
  }

.right {
    float: right;
  }

.cells {
  text-align: center;
}