@charset "utf-8";

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(29, 28, 28);
    color: blanchedalmond;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color : rgb(231, 194, 137);
}
table {
  width: 100%;
  margin: auto;
  text-align: center;
}
th {
  background-color: rgb(75, 73, 73);
}
td, th {
  padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 38, 255);
  }

  img {
    width: 25px;
	  height: 25px;
  }
  .imge {
    width: 400px;
	  height: 350px;
  }

  .a button {
    width: 25px;
	  height: 25px;
  }
 

  .active {
    background-color:rgb(0, 38, 255);
  }
  
  .marg {
    text-align: center;
    margin-top: 30px;
    margin: 5px;
    padding: 20px;
  }

.right {
    float: right;
  }

.cells {
  text-align: center;
}
.pied {
  position: relative;
  text-align: center;
  bottom: 0;
}
p {
  text-align: center;
}